<div class="navbar is-dark">
  <div class="navbar-brand">
    <a class="navbar-item">
       <img class="brand" src="">
      </a>
    </div>
<!-- menu-->
<div class="navbar-menu">
<div class="navbar-end">
  <a class="navbar-item nav-link" routerLink="/">Home</a>
  <a class="navbar-item nav-link" routerLink="/Products">Products</a>
  <a class="navbar-item nav-link" routerLink="/Documentation">Documentation</a>
  <a class="navbar-item nav-link" routerLink="/News">News</a>
  <a class="navbar-item nav-link" routerLink="/Story">Story</a>
  <a class="navbar-item nav-link" routerLink="/Cards">Card Database</a>
  <a class="navbar-item nav-link" routerLink="/Account">Accounts</a>
</div>
</div>
</div>

