
<div class="HighlightHeader">
  <h2>Highlights</h2>
</div>
<div class="centerDiv columns is-mobile">
  <div class="ModifyDiv">
  <div class="column"><img class="heroPose" src="../../assets/img/Lilith.png" alt="Lilith"></div>
  <div class="column infoText"><h1 class="sectionTitle">Meet The Characters</h1><p>Take a dive into the universe of esotera and get to know your favorite heros and godesses whilst deploying strategy in your collection.</p><br><button class="button is-primary">Learn More</button></div>
  </div>
</div>
<div class="centerDiv columns is-mobile">
  <div class="ModifyDiv">
    <div class="column infoText"><h1 class="sectionTitle">Choose Your Champion</h1><p>Esotera is full of a lot of unique characters complete with their own backstory</p><br><button class="button is-primary">Learn More</button></div>
    <div class="column"><img class="heroPose" src="../../assets/img/Anubis.png" alt="Anubis"></div>
  </div>
</div>
<div class="centerDiv columns is-mobile">
  <div class="ModifyDiv">
    <div class="column"><img class="heroPose" src="../../assets/img/Tyrant Queen.png" alt="Tyrant Queen"></div>
    <div class="column infoText"><h1 class="sectionTitle">Build Your Army</h1><p>Esotera is full of a lot of unique characters complete with their own backstory</p><br><button class="button is-primary">Learn More</button></div>
  </div>
</div>
<div class="centerDiv columns is-mobile">
  <div class="ModifyDiv">
  <div class="column infoText"><h1 class="sectionTitle">Perfect Your Strategy</h1><p>Esotera is full of a lot of unique characters complete with their own backstory</p><br><button class="button is-primary">Learn More</button></div>
  <div class="column"><img class="heroPose" src="../../assets/img/Ashera.png" alt="Ashera"></div></div>
</div>
