.centerDiv {
  margin: auto;
  text-align: center;
}
.infoText {
  margin: auto;
}
.sectionTitle {
  font-size: 2em;
}
.heroPose {
  height: 450px;
}
.centerDiv {
  color: white;
  background-color: black;
}
.body {
  background-color: black;
}
