.centerDiv {
  margin: auto;
  text-align: center;
}
.infoText {
  margin: auto;
}
.sectionTitle {
  font-size: 2.5em;
}
.heroPose {
  height: 450px;
}
.centerDiv {
  color: white;
  background-color: black;
}
.body {
  background-color: black;
}
.ModifyDiv {
  display: flex;
  margin: auto;
}
.HighlightHeader {
  text-align: center;
  font-size: 2.5em;
  background-color: black;
  color: white;
}
